# Git
.git
.gitignore
.gitattributes
.github

# Docker
Dockerfile
.docker
.dockerignore

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Virtual environment
.env

# Docs
mkdocs.yml
docs
README.md

# Scripts
build_docker.sh
run_docker.sh

# For local builds
Backup
site
venv