# From debugging
venv
*.log
Backup

# No database
*.db

# No uploads
data/uploads/*

#No built docs
site

# Old files
Original/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# No env
.env


# No not ignore .gitkeep
!/**/.gitkeep