site_name: Personal Zoo

# Copyright
copyright: Copyright &copy; 2023 - 2023 Ferdinand Berger

# Configuration
theme:
  name: material
  logo: img/logo-white-on-transparent-background.svg
  favicon: img/favicon.png
  custom_dir: docs/overrides
  palette:
    primary: green
  features:
    - content.code.copy
    - navigation.tabs
    - navigation.tabs.sticky

# Extensions
markdown_extensions:
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences


# Page tree
nav:
  - Home: index.md
  - Getting started:
    - Installation: getting-started.md
    - Security: security.md
    - Update: update.md
  - Features:
    - Overview: features/overview.md
    - Events: features/events.md
    - Feedings: features/feedings.md
  - Development: development.md