{% extends 'base.html' %}

{% block title %}Personal Zoo | {{ data[1] }}{% endblock %}

{% block content %}

{% set image = url_for("uploaded_file", filename=data[7]) %}

<div class="d-flex flex-row align-items-center flex-wrap mt-3 mb-3">
    <div class="animal-image"><!---->
        <img class="show_animal_image" src="{{ image }}"  style="border-color: {{ data[8] }} !important;">
    </div>
    <div class="px-4">
        <div>
            <h2 class="d-inline">{{ data[1] }}</h2>
            <span class="gender text-center ml-3">
                <i class="bi {% if data[4] == 'female' %} bi-gender-female female {% else %} bi-gender-male male {% endif %} d-none d-sm-inline-block"></i>
            </span>
        </div>
        <div>{{ data[3] }}</div>
        <div class="text-muted">{{ data[2] }} (*{{ data[5] }})</div>
    </div>
    {% if current_weight != "0" %}
    <div class="px-4 text-center border-start border-danger">
        <div class="fs-4">{{ current_weight }}</div>
        <div class="text-muted text-lowercase"> Current Weight </div>
    </div>
    {% endif %}
</div>

<div class="btn-list">
    <button class="btn rounded-right animal_edit_button green_button"><i class="bi bi-pencil-square"></i></button>
    <button class="btn rounded-right animal_print_button green_button"><i class="bi bi-printer"></i></button>
    <button class="btn rounded-right animal_qr_button green_button" style="-webkit-text-stroke: 0.4px;"><i class="bi bi-qr-code-scan"></i></button>
</div>

<div class="row row-cols-1 row-cols-lg-2 g-4">
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                <div class="flex-grow"> Feedings </div>
                <div class="btn-list">
                    <button class="btn rounded-right feeding_add_button green_button"><i class="bi bi-plus"></i></button>
                </div>
            </div>
            <div class="card-body feeding_card">
                {% if feedings %}
                <table class="table table-striped m-0">
                    <thead>
                        <th class="w-25">Date</th>
                        <th>Count</th>
                        <th>Type</th>
                        <th>Weight</th>
                    </thead>
                    <tbody>
                        {% for row in feedings %}
                        <tr data-id="{{ row[0] }}" class="feeding_edit active_row no-select">
                            <td>{{ row[5] | fix_date }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{% if row[4] > 0 %} {{ row[4] }} gr {% else %} - {% endif %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p class="mb-0">No feedings found!</p>
                {% endif %}
                {% if feeding_size %}
                    <div class="text-muted mt-2 text-center">{{ feeding_size }}</div>
                {% endif %}
            </div>
            <div class="card-footer card-footer-clickable text-right pr-0 show_all_feedings">
                <div style="text-transform: uppercase;">Show all <i class="bi bi-chevron-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                <div class="flex-grow"> Events/Actions </div>
                <div class="btn-list">
                    <button class="btn history_add_button green_button"><i class="bi bi-plus"></i></button>
                </div>
            </div>
            <div class="card-body history_card">
                {% if history %}
                <table class="table table-striped m-0">
                    <thead>
                        <th class="w-25">Date</th>
                        <th>Event</th>
                        <th>Details</th>
                    </thead>
                    <tbody>
                        {% for row in history %}
                        <tr data-id="{{ row[0] }}" class="history_edit active_row no-select">
                            <td>{{ row[4] | fix_date }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3]|linebreaksbr|safe }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p class="mb-0">No History found!</p>
                {% endif %}
            </div>
            <div class="card-footer card-footer-clickable text-right pr-0 show_all_history">
                <div style="text-transform: uppercase;">Show all <i class="bi bi-chevron-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-header">
                <div class="flex-grow"> Notes </div>
                <div class="btn-list">
                    <!-- no button -->
                </div>
            </div>
            <div class="card-body">
                {{ data[6] }}
            </div>
            <div class="card-footer text-right pr-0">
                <div style="text-transform: uppercase;">Last updated: {{ data[10] | fix_date }}</div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Will be loaded later -->
        </div>
    </div>
</div>

<script type="text/javascript" >
    $(document).ready(function(){
        $('.show_animal_image').click(function(){
            $('.modal-content').html('<div class="modal-body"><img src="{{ image }}" class="rounded img-fluid mx-auto"></div>')
            $('#modal_details').modal('show'); 
        });
        $('.show_all_history').click(function(){
            $.ajax({
                url: '/history/get_all/{{ data[0] }}',
                type: 'get',
                success: function(data){
                    $('.history_card').html(data);
                }
            })
        });
        $('.show_all_feedings').click(function(){
            $.ajax({
                url: '/feeding/get_all/{{ data[0] }}',
                type: 'get',
                success: function(data){
                    $('.feeding_card').html(data);
                }
            })
        });
    });
    $(document).on("click",".feeding_edit",function(){
        var feed_id = $(this).data('id');
        $.ajax({
            url: '/feeding/edit/'+feed_id,
            type: 'get',
            success: function(data){ 
                $('.modal-content').html(data); 
                $('.modal-content').append(data.htmlresponse);
                $('#modal_details').modal('show');
                $('.feeding_delete_button').click(function(){
                    var feed_id = $(this).data('id');
                    if (confirm("Are You Sure ?")) {
                        $.ajax({
                                url: '/feeding/delete/'+feed_id,
                                type: 'post',
                                data: {animal_id: {{ data[0] }}},
                                success: function(data) {
                                    location.reload(true); 
                                }
                            });
                    }
                });
            }
        });
    });
    $(document).on("click",".history_edit",function(){
        var feed_id = $(this).data('id');
        $.ajax({
            url: '/history/edit/'+feed_id,
            type: 'get',
            success: function(data){ 
                $('.modal-content').html(data); 
                $('.modal-content').append(data.htmlresponse);
                $('#modal_details').modal('show');
                $('.history_delete_button').click(function(){
                    var feed_id = $(this).data('id');
                    if (confirm("Are You Sure ?")) {
                        $.ajax({
                                url: '/history/delete/'+feed_id,
                                type: 'post',
                                data: {animal_id: {{ data[0] }}},
                                success: function(data) {
                                    location.reload(true); 
                                }
                            });
                    }
                });
            }
        });
    });
    $('.feeding_add_button').on('click',function(){
        $('.modal-content').load('/feeding/add/{{ data[0] }}',function(){
            $('#modal_details').modal('show'); 
        });
    });
    $('.history_add_button').on('click',function(){
        $('.modal-content').load('/history/add/{{ data[0] }}',function(){
            $('#modal_details').modal('show'); 
        });
    });
    $('.animal_qr_button').on('click',function(){
        $('.modal-content').load('/feeding/get_qr/{{ data[0] }}',function(){
            $('#modal_details').modal('show'); 
        });
    })
    $('.animal_print_button').on('click',function(){
        window.open('/animal/{{ data[0] }}?print=1', '_blank'); 
    });
    $('.animal_edit_button').on('click',function(){
        $('.modal-content').load('/animal/edit/{{ data[0] }}',function(){
            $('#modal_details').modal('show'); 
            $('.animal_delete_button').click(function(){
                                var animal_id = $(this).data('id');
                                if (confirm("Are You Sure ?")) {
                                    $.ajax({
                                            url: '/animal/delete/'+animal_id,
                                            type: 'post',
                                            data: {animal_id: {{ data[0] }}},
                                            success: function(data) {
                                                window.location.replace("/"); 
                                            }
                                        });
                                }
                            });
        });
    });
</script>
{% endblock %}