{% from "macros/fields.html" import render_text_field, render_select_field, render_selectpicker_field, render_clear_text_field %}

    <div class="card">
        <div class="card-header">
            <h3>Edit {{animal.name}}</h3>
        </div>
        <form role="form" method="post" action="{{ target }}" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="card-body">
                {{ render_text_field(form.name) }}
                <div class="row">
                    <div class="col">
                        {{ render_select_field(form.art) }}
                    </div>
                    <div class="col">
                        {{ render_text_field(form.morph) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col"> 
                        {{ render_select_field(form.gender) }}   
                    </div>
                    <div class="col">
                        {{ render_text_field(form.birth) }}
                    </div>
                </div>
                {{ render_text_field(form.notes) }} 
                <div class="row">
                    <div class="col">
                        {{ render_clear_text_field(form.image) }}
                    </div>
                    <div class="col">
                        {{ render_clear_text_field(form.background_color) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ render_select_field(form.default_ft) }} 
                    </div>
                    <div class="col">
                        {{ render_select_field(form.terrarium) }} 
                    </div>
                </div>  
            </div>
    </div>
    <div class="modal-footer">
        <div pos="start">
        <button type="button" data-id="{{ animal.id }}" class="btn btn-danger text-left animal_delete_button">Delete</button>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    </form>
</div>