<div class="card">
  <div class="card-header">
      <h3>Edit {{ data.name }}</h3>
  </div>
  <form action="{{ url_for('animal.edit', id=data.id) }}" method="post" enctype="multipart/form-data">
    <div class="card-body">
      <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" name="name" value="{{ data.name }}">
      </div>
      <div class="row">
          <div class="col">
              <div class="mb-3">
                  <label for="art" class="form-label">Type</label>
                  <select class="form-select" id="art" name="art" required>
                    {% for row in animal_types %}
                        <option value="{{ row.id }}" {% if row.id|int == data.art|int %}selected{% endif %}>{{ row.name }}</option>
                    {% endfor %}
                  </select>
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                  <label for="morph" class="form-label">Morph</label>
                  <input type="text" class="form-control" id="morph" name="morph" value="{{ data.morph }}">
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
              <label for="gender" class="form-label">Gender</label>
              <select class="form-select" id="gender" name="gender">
                  <option value="male" {% if data.gender == 'male' %}selected{% endif %}>Male</option>
                  <option value="female" {% if data.gender == 'female' %}selected{% endif %}>Female</option>
                  <option value="other" {% if data.gender == 'other' %}selected{% endif %}>Other</option>
              </select>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
              <label for="birth" class="form-label">Birth</label>
              <input type="text" class="form-control" id="birth" name="birth" value="{{ data.birth}}">
          </div>
        </div>
      </div>
      <div class="mb-3">
          <label for="notes" class="form-label">Notes</label>
          <textarea class="form-control" id="notes" name="notes" rows="3">{{ data.notes }}</textarea>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
              <label for="image" class="form-label">New Image</label>
              <input type="file" accept="image/*" class="form-control" id="image" name="image">
              <input type="hidden" name="current_image" value="{{ data.image }}">
          </div>
          <div class="mb-3">
            <label for="background-color" class="form-label">Background Color</label>
            <input type="color" class="form-control" id="background-color" name="background-color"  value="{{ data.background_color }}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="dft" class="form-label">Default feeding type</label>
                <select class="form-select" id="dft" name="dft" required>
                    {% for row in feeding_types %}
                        <option value="{{ row.id }}" {%if row.id|int == data.default_ft|int %}selected{% endif %}>{{ row.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% if terrariums %}
        <div class="col">
            <div class="mb-3">
                <label for="terrarium" class="form-label">Terrarium</label>
                <select class="form-select" id="terrarium" name="terrarium" required>
                    {% for row in terrariums %}
                        <option value="{{ row.id }}" {%if row.id|int == data.terrarium|int %}selected{% endif %}>{{ row.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        {% endif %}
    </div>
    </div>
    <div class="modal-footer">
      <div pos="start">
        <button type="button" data-id="{{ data.id }}" class="btn btn-danger text-left animal_delete_button">Delete</button>
      </div>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
