<div class="modal-header">
    <h5 class="modal-title" id="itemLabel">{{ _("Add animal type") }}</h5>
</div>
<form action="{{ url_for('settings.at_add') }}" method="post" enctype="multipart/form-data">
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="at_name" class="form-label">{{ _("Name") }}</label>
                    <input type="text" class="form-control" id="at_name" name="at_name" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="at_f_min" class="form-label">{{ _("Feeding size min") }}</label>
                    <input type="number" class="form-control" id="at_f_min" name="at_f_min" required">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="at_f_max" class="form-label">{{ _("Feeding size max") }}</label>
                    <input type="number" class="form-control" id="at_f_max" name="at_f_max" required">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Cancel") }}</button>
        <button type="submit" class="btn btn-primary">{{ _("Save") }}</button>
    </div>
</form>