<div class="modal-header">
    <h5 class="modal-title" id="itemLabel">Edit animal type</h5>
</div>
<form action="{{ url_for('settings.at_edit', id=data[0]) }}" method="post" enctype="multipart/form-data">
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="at_name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="at_name" name="at_name" value="{{ data[1] }}" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="at_note" class="form-label">Note</label>
                    <textarea class="form-control" id="at_note" name="at_note" rows="3">{{ data[2] }}</textarea>
                </div>
            </div>
        </div>
    
    </div>
    <div class="modal-footer">
        <div pos="start">
            <button type="button" data-id="{{ data[0] }}" class="btn btn-danger text-left ft_delete_button">Delete</button>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>