<div class="modal-header">
    <h5 class="modal-title" id="itemLabel">{{ _("Edit animal type") }}</h5>
</div>
<form action="{{ url_for('settings.at_edit', id=data.id) }}" method="post" enctype="multipart/form-data">
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="at_name" class="form-label">{{ _("Name") }}</label>
                    <input type="text" class="form-control" id="at_name" name="at_name" value="{{ data.name }}" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="at_f_min" class="form-label">{{ _("Feeding size min") }}</label>
                    <input type="number" class="form-control" id="at_f_min" name="at_f_min" value="{{ data.f_min }}">
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="at_f_max" class="form-label">{{ _("Feeding size max") }}</label>
                    <input type="number" class="form-control" id="at_f_max" name="at_f_max" value="{{ data.f_max }}">
                </div>
            </div>
        </div>
    
    </div>
    <div class="modal-footer">
        <div pos="start">
            <button type="button" data-id="{{ data.id }}" class="btn btn-danger text-left at_delete_button">{{ _("Delete") }}</button>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Cancel") }}</button>
        <button type="submit" class="btn btn-primary">{{ _("Save") }}</button>
    </div>
</form>