<div class="modal-header">
    <h5 class="modal-title" id="itemLabel">{{ _("Add feeding type") }}</h5>
</div>
<form action="{{ url_for('settings.ft_add') }}" method="post" enctype="multipart/form-data">
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="ft_name" class="form-label">{{ _("Name") }}</label>
                    <input type="text" class="form-control" id="ft_name" name="ft_name" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="ft_unit" class="form-label">{{ _("Unit") }}</label>
                    <select class="form-select" class="form-control" id="ft_unit" name="ft_unit" required>
                            <option value="weight">{{ _("Weight") }}</option>
                            <option value="text">{{ _("Text") }}</option>
                            <option value="size">{{ _("Size") }}</option>
                    </select>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="ft_detail" class="form-label">{{ _("Detail") }}</label>
                    <input type="text" class="form-control" id="ft_detail" name="ft_detail" required>
                    <p>
                        {{ _("Weight: Enter weight unit") }}<br />
                        {{ _("Text: Enter a hint") }}<br />
                        {{ _("Size: Enter sizes (small,middle,large)") }}
                    </p>
                </div>
            </div>
        </div> 
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ _("Cancel") }}</button>
        <button type="submit" class="btn btn-primary">{{ _("Save") }}</button>
    </div>
</form>