<div class="modal-header">
    <h5 class="modal-title" id="itemLabel">Edit terrarium event/action type</h5>
</div>
<form action="{{ url_for('settings.htt_edit', id=data.id) }}" method="post" enctype="multipart/form-data">
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="htt_name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="htt_name" name="htt_name" value="{{ data.name }}" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="htt_note" class="form-label">Note</label>
                    <textarea class="form-control" id="htt_note" name="htt_note" rows="3">{{ data.note }}</textarea>
                </div>
            </div>
        </div>
    
    </div>
    <div class="modal-footer">
        <div pos="start">
            <button type="button" data-id="{{ data.id }}" class="btn btn-danger text-left htt_delete_button">Delete</button>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>