{% extends 'base.html' %}

{% block title %}Personal Zoo | Settings {% endblock %}

{% block head %}
<!-- Fancy Dropdown -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
{% endblock %}

{% block content %}
<div class="row row-cols-1">
    <div>
        <div class="mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="flex-grow"> {{ _("General Settings") }} </div>
                    <div class="btn-list">
                        <!-- no button -->
                    </div>
                </div>
                <form action="{{ url_for('settings.edit') }}" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <table class="table table-striped m-0 table-sm">
                            <thead>
                                <th class="w-50">{{ _("Setting") }}</th>
                                <th>{{ _("Option") }}</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div>{{ settings["weight_type"][1] }}</div>
                                        <div class="text-muted">{{ settings["weight_type"][2] }}</div>
                                    </td>
                                    <td>
                                        <select class="form-select form-control" id="weight" name="weight" required>
                                            {% for event_type in ht %}
                                                <option value="{{ event_type.id }}" {% if event_type.id|int == settings["weight_type"][0]|int %} selected {% endif %}>{{ event_type.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>{{ settings["feeding_size"][1] }}</div>
                                        <div class="text-muted">{{ settings["feeding_size"][2] }}</div>
                                    </td>
                                    <td>
                                        <select class="form-control selectpicker" multiple id="feeding_size" name="feeding_size">
                                            {% for animal_type in animal_types %}
                                                <option value="{{ animal_type.id }}" {% if animal_type.id|string in settings["feeding_size"][0]|string %} selected {% endif %}>{{ animal_type.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>{{ settings["color_female"][1] }}</div>
                                        <div class="text-muted">{{ settings["color_female"][2] }}</div>
                                    </td>
                                    <td>
                                        <input type="color" class="form-control" id="color_female" name="color_female" value="{{ settings['color_female'][0] }}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>{{ settings["color_male"][1] }}</div>
                                        <div class="text-muted">{{ settings["color_male"][2] }}</div>
                                    </td>
                                    <td>
                                        <input type="color" class="form-control" id="color_male" name="color_male" value="{{ settings['color_male'][0] }}">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>{{ settings["color_other"][1] }}</div>
                                        <div class="text-muted">{{ settings["color_other"][2] }}</div>
                                    </td>
                                    <td>
                                        <input type="color" class="form-control" id="color_other" name="color_other" value="{{ settings['color_other'][0] }}">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-end pr-0">
                        <button type="submit" class="btn btn-primary">{{ _("Save") }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-lg-2 row-cols-sm-1">
    <div>
        <div class="mb-3">
            <div class="card">
                <div class="settings-title m-2 text-uppercase">{{ _("Animal Settings") }}</div>
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="settingsAnimalTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link text-uppercase active" id="feeding-tab" data-bs-toggle="tab" data-bs-target="#feeding_types" type="button" role="tab" aria-controls="feeding_types" aria-selected="true">{{ _("Feeding Types") }}</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link text-uppercase" id="animal_types-tab" data-bs-toggle="tab" data-bs-target="#animal_types" type="button" role="tab" aria-controls="animal_types" aria-selected="false">{{ _("Animal Types") }}</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link text-uppercase" id="animal_event_types-tab" data-bs-toggle="tab" data-bs-target="#animal_event_types" type="button" role="tab" aria-controls="animal_event_types" aria-selected="false">{{ _("Event/Action Types") }}</button>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="settingsAnimalTabContent">
                        <div class="tab-pane fade show active" id="feeding_types" role="tabpanel" aria-labelledby="feeding_types-tab">
                            <div class="card">
                                <div class="card-header">
                                    <div class="flex-grow"></div>
                                    <div class="btn-list">
                                        <button class="btn rounded-right ft_add_button green_button"><i class="fa-solid fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body feeding_card">
                                    <table class="table table-striped m-0">
                                        <thead>
                                            <th class="w-50">{{ _("Name") }}</th>
                                            <th>{{ _("Unit") }}</th>
                                            <th>{{ _("Detail") }}</th>
                                        </thead>
                                        <tbody>
                                            {% for type in feeding_types %}
                                            <tr data-id="{{ type.id }}" class="ft_edit active_row">
                                                <td>{{ type.name }}</td>
                                                <td>{{ type.unit }}</td>
                                                <td>{{ type.detail }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer text-right pr-0">
                                    <div>{{ _("Be careful when changing a unit!") }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="animal_types" role="tabpanel" aria-labelledby="animal_types-tab">
                            <div class="card">
                                <div class="card-header">
                                    <div class="flex-grow"></div>
                                    <div class="btn-list">
                                        <button class="btn rounded-right at_add_button green_button"><i class="fa-solid fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body animal_card">
                                    <table class="table table-striped m-0 ">
                                        <thead>
                                            <th class="w-50">{{ _("Name") }}</th>
                                            <th>{{ _("Feeding size min") }}</th>
                                            <th>{{ _("Feeding size max") }}</th>
                                        </thead>
                                        <tbody>
                                            {% for type in animal_types %}
                                            <tr data-id="{{ type.id }}" class="at_edit active_row">
                                                <td>{{ type.name }}</td>
                                                <td>{% if type.f_min > 0 %} {{ type.f_min }}% {% else %} - {% endif %}</td>
                                                <td>{% if type.f_max > 0 %} {{ type.f_max }}% {% else %} - {% endif %}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer text-right pr-0">
                                    <div>{{ _("Feeding sizes are in &#037;!") }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="animal_event_types" role="tabpanel" aria-labelledby="animal_event_types-tab">
                            <div class="card">
                                <div class="card-header">
                                    <div class="flex-grow"></div>
                                    <div class="btn-list">
                                        <button class="btn ht_add_button green_button"><i class="fa-solid fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body history_card">
                                    <table class="table table-striped m-0">
                                        <thead>
                                            <th class="w-50">{{ _("Name") }}</th>
                                            <th>{{ _("Note") }}</th>
                                        </thead>
                                        <tbody>
                                            {% for type in history_types %}
                                            <tr data-id="{{ type.id }}" class="ht_edit active_row">
                                                <td>{{ type.name }}</td>
                                                <td>{{ type.note }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer text-right pr-0">
                                    <div>{{ _("Notes are only visible on this page") }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="mb-3">
            <div class="card">
                <div class="settings-title m-2 text-uppercase">{{ _("Terrarium Settings") }}</div>
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="settingsTerrariumTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active text-uppercase" id="terrarium_types-tab" data-bs-toggle="tab" data-bs-target="#terrarium_types" type="button" role="tab" aria-controls="terrarium_types" aria-selected="true">{{ _("Terrarium Types") }}</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link text-uppercase" id="terrarium_event_types-tab" data-bs-toggle="tab" data-bs-target="#terrarium_event_types" type="button" role="tab" aria-controls="terrarium_event_types" aria-selected="false">{{ _("Event/Action Types") }}</button>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="settingsTerrariumTabContent">
                        <div class="tab-pane fade show active" id="terrarium_types" role="tabpanel" aria-labelledby="terrarium_types-tab">
                            <div class="card">
                                <div class="card-header">
                                    <div class="flex-grow"> {{ _("Terrarium Types") }} </div>
                                    <div class="btn-list">
                                        <button class="btn rounded-right tt_add_button green_button"><i class="fa-solid fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body terrarium_card">
                                    {% if terrarium_types %}
                                    <table class="table table-striped m-0">
                                        <thead>
                                            <th class="w-50">{{ _("Name") }}</th>
                                        </thead>
                                        <tbody>
                                            {% for type in terrarium_types %}
                                            <tr data-id="{{ type.id }}" class="tt_edit active_row">
                                                <td>{{ type.name }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                        <p>{{ _("No Terrarium types found!") }}</p>
                                    {% endif %}
                                </div>
                                <div class="card-footer text-right pr-0">
                                    <div>{{ _("This function is work in progress!") }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="terrarium_event_types" role="tabpanel" aria-labelledby="terrarium_event_types-tab">
                            <div class="card">
                                <div class="card-header">
                                    <div class="flex-grow"></div>
                                    <div class="btn-list">
                                        <button class="btn htt_add_button green_button"><i class="fa-solid fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="card-body terrarium_history_types_card">
                                    <table class="table table-striped m-0">
                                        <thead>
                                            <th class="w-50">{{ _("Name") }}</th>
                                            <th>{{ _("Note") }}</th>
                                        </thead>
                                        <tbody>
                                            {% for type in terrarium_history_types %}
                                            <tr data-id="{{ type.id }}" class="htt_edit active_row">
                                                <td>{{ type.name }}</td>
                                                <td>{{ type.note }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer text-right pr-0">
                                    <div>{{ _("Notes are only visible on this page") }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Will be loaded later -->
        </div>
    </div>
</div>

<!-- Settings JS -->
<script src="{{ url_for('static', filename='js/pages/settings.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/settingsTabs.js') }}"></script>
{% endblock %}