{% extends 'base.html' %}

{% block title %}Personal Zoo | Settings {% endblock %}

{% block head %}
<!-- Fancy Dropdown -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
{% endblock %}

{% block content %}
<p>&nbsp;</p>
<div class="row row-cols-lg-2 row-cols-sm-1">
    <div>
        <div class="mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="flex-grow"> General Settings </div>
                    <div class="btn-list">
                        <!-- no button -->
                    </div>
                </div>
                <form action="{{ url_for('settings.edit') }}" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <table class="table table-striped m-0 table-sm">
                            <thead>
                                <th class="w-50">Setting</th>
                                <th>Option</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div>{{ settings["weight_type"][1] }}</div>
                                        <div class="text-muted">{{ settings["weight_type"][2] }}</div>
                                    </td>
                                    <td>
                                        <select class="form-select form-control" id="weight" name="weight" required>
                                            {% for event_type in ht %}
                                                <option value="{{ event_type.id }}" {% if event_type.id|int == settings["weight_type"][0]|int %} selected {% endif %}>{{ event_type.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div>{{ settings["feeding_size"][1] }}</div>
                                        <div class="text-muted">{{ settings["feeding_size"][2] }}</div>
                                    </td>
                                    <td>
                                        <select class="selectpicker form-control" multiple id="feeding_size" name="feeding_size">
                                            {% for animal_type in animal_types %}
                                                <option value="{{ animal_type.id }}" {% if animal_type.id|string in settings["feeding_size"][0]|string %} selected {% endif %}>{{ animal_type.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-end pr-0">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class="mb-3">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="flex-grow"> Animal Types </div>
                    <div class="btn-list">
                        <button class="btn rounded-right at_add_button green_button"><i class="bi bi-plus"></i></button>
                    </div>
                </div>
                <div class="card-body animal_card">
                    <table class="table table-striped m-0 ">
                        <thead>
                            <th class="w-50">Name</th>
                            <th>Feeding size min</th>
                            <th>Feeding size max</th>
                        </thead>
                        <tbody>
                            {% for type in animal_types %}
                            <tr data-id="{{ type.id }}" class="at_edit active_row">
                                <td>{{ type.name }}</td>
                                <td>{% if type.f_min > 0 %} {{ type.f_min }}% {% else %} - {% endif %}</td>
                                <td>{% if type.f_max > 0 %} {{ type.f_max }}% {% else %} - {% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-right pr-0">
                    <div>Feeding sizes are in %!</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-lg-2 row-cols-sm-1">
    <div>
        <div class="mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="flex-grow"> Feeding Types </div>
                    <div class="btn-list">
                        <button class="btn rounded-right ft_add_button green_button"><i class="bi bi-plus"></i></button>
                    </div>
                </div>
                <div class="card-body feeding_card">
                    <table class="table table-striped m-0">
                        <thead>
                            <th class="w-50">Name</th>
                            <th>Unit</th>
                            <th>Detail</th>
                        </thead>
                        <tbody>
                            {% for type in feeding_types %}
                            <tr data-id="{{ type.id }}" class="ft_edit active_row">
                                <td>{{ type.name }}</td>
                                <td>{{ type.unit }}</td>
                                <td>{{ type.detail }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-right pr-0">
                    <div>Be careful when changing a unit!</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="flex-grow"> Event/Action Types</div>
                    <div class="btn-list">
                        <button class="btn ht_add_button green_button"><i class="bi bi-plus"></i></button>
                    </div>
                </div>
                <div class="card-body history_card">
                    <table class="table table-striped m-0">
                        <thead>
                            <th class="w-50">Name</th>
                            <th>Note</th>
                        </thead>
                        <tbody>
                            {% for type in history_types %}
                            <tr data-id="{{ type.id }}" class="ht_edit active_row">
                                <td>{{ type.name }}</td>
                                <td>{{ type.note }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-right pr-0">
                    <div>Notes are only visible on this page</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row row-cols-lg-2 row-cols-sm-1">
    <div>
        <div class="mb-3">
            <div class="card">
                <div class="card-header">
                    <div class="flex-grow"> Terrarium Types </div>
                    <div class="btn-list">
                        <button class="btn rounded-right tt_add_button green_button"><i class="bi bi-plus"></i></button>
                    </div>
                </div>
                <div class="card-body terrarium_card">
                    {% if terrarium_types %}
                    <table class="table table-striped m-0">
                        <thead>
                            <th class="w-50">Name</th>
                        </thead>
                        <tbody>
                            {% for type in terrarium_types %}
                            <tr data-id="{{ type.id }}" class="tt_edit active_row">
                                <td>{{ type.name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p>No Terrarium types found!</p>
                    {% endif %}
                </div>
                <div class="card-footer text-right pr-0">
                    <div>This function is work in progress!</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_details" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!-- Will be loaded later -->
        </div>
    </div>
</div>

<script type="text/javascript" >
    $(document).on("click",".ft_edit",function(){
        var feed_id = $(this).data('id');
        $.ajax({
            url: '/settings/ft_edit/'+feed_id,
            type: 'get',
            success: function(data){ 
                $('.modal-content').html(data); 
                $('.modal-content').append(data.htmlresponse);
                $('#modal_details').modal('show');
                $('.ft_delete_button').click(function(){
                    var feed_id = $(this).data('id');
                    if (confirm("Are You Sure ?")) {
                        $.ajax({
                                url: '/settings/ft_delete/'+feed_id,
                                type: 'post',
                                data: {},
                                success: function(data) {
                                    location.reload(true); 
                                }
                            });
                    }
                });
            }
        });
    });
    $(document).on("click",".ht_edit",function(){
        var feed_id = $(this).data('id');
        $.ajax({
            url: '/settings/ht_edit/'+feed_id,
            type: 'get',
            success: function(data){ 
                $('.modal-content').html(data); 
                $('.modal-content').append(data.htmlresponse);
                $('#modal_details').modal('show');
                $('.ht_delete_button').click(function(){
                    var feed_id = $(this).data('id');
                    if (confirm("Are You Sure ?")) {
                        $.ajax({
                                url: '/settings/ht_delete/'+feed_id,
                                type: 'post',
                                data: {},
                                success: function(data) {
                                    location.reload(true); 
                                }
                            });
                    }
                });
            }
        });
    });
    $(document).on("click",".at_edit",function(){
        var feed_id = $(this).data('id');
        $.ajax({
            url: '/settings/at_edit/'+feed_id,
            type: 'get',
            success: function(data){ 
                $('.modal-content').html(data); 
                $('.modal-content').append(data.htmlresponse);
                $('#modal_details').modal('show');
                $('.at_delete_button').click(function(){
                    var feed_id = $(this).data('id');
                    if (confirm("Are You Sure ?")) {
                        $.ajax({
                                url: '/settings/at_delete/'+feed_id,
                                type: 'post',
                                data: {},
                                success: function(data) {
                                    location.reload(true); 
                                }
                            });
                    }
                });
            }
        });
    });
    $(document).on("click",".tt_edit",function(){
        var feed_id = $(this).data('id');
        $.ajax({
            url: '/settings/tt_edit/'+feed_id,
            type: 'get',
            success: function(data){ 
                $('.modal-content').html(data); 
                $('.modal-content').append(data.htmlresponse);
                $('#modal_details').modal('show');
                $('.tr_delete_button').click(function(){
                    var feed_id = $(this).data('id');
                    if (confirm("Are You Sure ?")) {
                        $.ajax({
                                url: '/settings/tt_delete/'+feed_id,
                                type: 'post',
                                data: {},
                                success: function(data) {
                                    location.reload(true); 
                                }
                            });
                    }
                });
            }
        });
    });
    $('.ft_add_button').on('click',function(){
        $('.modal-content').load('/settings/ft_add',function(){
            $('#modal_details').modal('show'); 
        });
    });
    $('.ht_add_button').on('click',function(){
        $('.modal-content').load('/settings/ht_add',function(){
            $('#modal_details').modal('show'); 
        });
    });
    $('.at_add_button').on('click',function(){
        $('.modal-content').load('/settings/at_add',function(){
            $('#modal_details').modal('show'); 
        });
    });
    $('.tt_add_button').on('click',function(){
        $('.modal-content').load('/settings/tt_add',function(){
            $('#modal_details').modal('show'); 
        });
    });
</script>
{% endblock %}