/* Font */
@font-face {
  font-family: PersonalZoo;
  src: url(../webfonts/personal-zoo-libre-franklin-regular.ttf);
}

/* for printing */
@media print {
    body {
        -webkit-print-color-adjust: exact;
        background-color: #fff !important;
    }
    
    div {
        break-inside: avoid;
    }

    nav {
      display: none;
    }

    footer {
      display: none;
    }

    .no-print, .no-print * {
        display: none !important;
    }
}

@page {
  size: A4;
  margin: 1cm;
}

/* Root settings */
:root {
  --zoo-green: #29a039
}

/* Light theme */
:root[data-bs-theme=light] {
  --body-bg: #d7d7d7;
  --body-bg-rgb: 215, 215, 215;
  --footer-link: #ddd;
}

/* Dark theme */
:root[data-bs-theme=dark] {
  --body-bg: #4d4c4c;
  --body-bg-rgb: rgb(77, 76, 76);
  --animal-head-color: #eeeaea !important;
  --bs-secondary-color: rgb(173, 181, 189);
  --footer-link: #ddd;
  --footer-color: var(--animal-head-color);
}


/* HTML and Body */
html, body {
  /* background: #FCEEB5; */
  font-family: PersonalZoo, Arial, Verdana, sans-serif;
  font-size: 14px;
  height: 100%;
  background-color: var(--body-bg);
  min-width: 375px;
  }

/* Navigation */
.navbar {
  background-color: var(--zoo-green);;
}

.nav-link {
  font-size: 1rem;
}

.active .card {
  font-weight: normal;
}

/* Animations */
.fade-out {
    animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

/* Footer */
footer {
  background-color: var(--zoo-green);
  color: var(--footer-color);
}

footer a {
  color: var(--footer-link);
}

/* positioning */
.center {
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
}

/* Animal page settings */
.animal-head {
  color: var(--animal-head-color);
  row-gap: 10px;
}

/* Terrarium page settings */
.terrarium-head {
  color: var(--animal-head-color);
  row-gap: 10px;
}

/* Formatting */
.tbl_title {
  font-weight: bold;
  text-align: left;
}

.buttons {
  float: left;
  width: 100%;
}

.img-cover{
  object-fit: cover;
  object-position: center;
}

.gender {
  font-size: 1.7rem;
}

.female {
  color: violet;
}

.male {
  color: #89cff0;
}

.ambiguous {
  color: var(--zoo-green); 
}

/* Card overrides */

.card img {
  width: 50%;
  aspect-ratio: 1 / 1;
}

.card {
  font-size: 1rem;
}

.card .card-title {
  font-weight: 700;
  font-size: 1.5em;
}

.card .card-header {
  align-items: stretch;
  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0;
  position: relative;
  text-transform: uppercase;
}

.card .card-header>* {
  padding: 0.5rem 1.25rem;
}

.card .card-header .btn-list>.btn {
  border: 0;
  border-radius: 0;
  color: #6c757d;
  margin: 0;
  padding-left: 0.75rem!important;
  padding-right: 0.75rem!important;
}

.card-body-clickable {
  cursor: pointer;
}

.card-footer-clickable {
  cursor: pointer;
}

/* Animal card */
.animal-image img {
  background: #ccc;
  border: 5px solid #fff;
  border-radius: 100%;
  height: 100px;
  position: relative;
  width: 100px;
}

.animal-image-small {
  position:relative;
}

.animal-image-small img {
  background: #ccc;
  border: 3px solid #fff;
  border-radius: 100%;
  height: 50px;
  position: relative;
  width: 50px;
}

.card-animal-image img {
  background: #ccc;
  border: 7px solid #fff;
  border-radius: 100%;
  height: auto;
  min-height: 100px;
  min-width: 100px;
  position: relative;
  width: 100%;
}

.card-animal {
  margin-top: 10%;
}

.card-animal .container {
  margin-top: -10%;
}


/* Terrarium card */
.terrarium-image img {
  background: #ccc;
  border: 1px solid #fff;
  height: 100px;
  position: relative;
  width: 200px;
}

.terrarium-image-small img {
  background: #ccc;
  border: 1px solid #fff;
  height: 50px;
  position: relative;
  width: 100px;
}

.card-link {
  color: inherit;
  text-decoration: inherit;
}

.btn-list>.btn {
  border: 0;
  border-radius: 0;
  margin: 0;
  padding-left: 0.75rem!important;
  padding-right: 0.75rem!important;
}

.flex-grow {
  flex-grow: 1;
}

.card .card-header .btn-list {
  align-items: stretch;
  display: flex;
  font-family: "Open Sans",-apple-system,"Helvetica Neue",sans-serif;
  padding: 0;
}

.green_button:hover, .green_button:active, .green_button.active, .open>.dropdown-toggle.green_button {
  color: #fff !important;
  background-color: #29a039;
  border-color: #285e8e; /*set the color you want here*/
  border-top-right-radius: 3px !important;
}

.modal .modal-footer [pos=start] {
  flex-grow: 1;
}

.active_row {
  border-left: 5px solid transparent;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.active_row:hover {
  border-left: #29a039 solid 5px;
  cursor: pointer;
}

/* Selectpicker changes */
button[data-id="animals"] {
  border: var(--bs-border-width) solid var(--bs-border-color);
}

button[data-id="terrariums"] {
  border: var(--bs-border-width) solid var(--bs-border-color);
}

button[data-id="feeding_size"] {
  border: var(--bs-border-width) solid var(--bs-border-color);
}


/* table settings */
table .small-cell {
  width: auto;
  text-align: left;
}

table .wide-cell {
  width: 100%;
  text-align: left;
}

.settings-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.notify-badge{
  position: absolute;
  right:-11px;
  top: -8px;
  text-align: center;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

/* Tooltip */
.custom-tooltip {
  --bs-tooltip-bg: var(--zoo-green);
  --bs-tooltip-color: var(--bs-white);
}

/* Popover */
.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--zoo-green);
  --bs-popover-header-bg: var(--zoo-green);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}

/* print cards */
.print_card {
  width: 650px;
  height: 250px;
  background-color: #d7d7d7;
  /* background: linear-gradient(#e9e3e3, #fff); */
  /* box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4); */
  border-radius: 10px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
  font-size: 15px;
}

.print_card h1 {
  display: block;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.print_card p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.print_card .user-card {
  width: 250px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 2;
  /*background: linear-gradient(#dE685E, #EE786E);*/
  /*background-color: #dE685E;*/
  background-color: rgb(49, 47, 47);
}

.print_card .user-card img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.print_card .general {
  width: 400px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.print_card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 10px;
}