<!-- Default nav item -->
{% macro render_nav_item(text, icon, link, active_link, location) %}
    <li class="nav-item text-center mx-2 mx-lg-1">
        <a class="nav-link {% if location == active_link %}active{% endif %}" aria-current="page" href="{{ link }}">
            <div>
                <i class="{{ icon }}"></i>
            </div>
            {{ text }}
        </a>
    </li>
{% endmacro %}

<!-- Tooltip -->
{% macro basic_tooltip(text) %}
    data-bs-html="true"
    data-bs-toggle="tooltip" data-bs-placement="top"
    data-bs-custom-class="custom-tooltip"
    data-bs-title="{{ text }}"
{% endmacro %}

<!-- Popover -->
{% macro basic_popover(title, text) %}
    data-bs-toggle="popover" data-bs-placement="top"
    data-bs-html="true"
    data-bs-trigger="hover focus" 
    data-bs-custom-class="custom-popover"
    data-bs-title="{{ title }}"
    data-bs-content="{{ text }}"
{% endmacro %}