<div class="modal-header">
    <h5 class="modal-title" id="itemLabel">Add lamp</h5>
</div>
<form action="{{ url_for('terrarium.lamp_edit', id=data.id) }}" method="post" enctype="multipart/form-data">
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="lamp_type" class="form-label">Type</label>
                    <input type="text" class="form-control" id="lamp_type" name="lamp_type" value="{{ data.type }}" required>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="lamp_watt" class="form-label">Watt</label>
                    <input type="text" class="form-control" id="lamp_watt" name="lamp_watt"  value="{{ data.watt }}" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="lamp_position" class="form-label">Position</label>
                    <input type="date" class="form-control" id="lamp_position" name="lamp_position" value="{{ data.position }}" required>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="lamp_changed" class="form-label">changed</label>
                    <input type="date" class="form-control" id="lamp_changed" name="lamp_changed" value="{{ data.changed }}" required>
                </div>
            </div>
        </div>    
    </div>
    <input type="hidden" id="terrarium_id" name="terrarium_id" value="{{ data.terrarium }}" />
    <div class="modal-footer">
        <div pos="start">
            <button type="button" data-id="{{ data.id }}" class="btn btn-danger text-left lamp_delete_button">Delete</button>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>