{% extends 'base.html' %}

{% block title %}Personal Zoo | Add Feeding{% endblock %}

{% block head %}
    <style>
        nav {
            display: none !important;
        }
    </style>
{% endblock %}

{% block content %}
<div class="row row-cols-lg-1 row-cols-sm-1">
    <div class="card m-0 p-0">
        <div class="card-header">
            <div class="flex-grow"> Add Feeding for {{ animal.name }}</div>
            <div class="btn-list">
                <!-- no button -->
            </div>
        </div>
        <form action="{{ url_for('feeding.add', id=id) }}" method="post" enctype="multipart/form-data">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="feeding_date" class="form-label">Date</label>
                            <input type="date" class="form-control" id="feeding_date" name="feeding_date" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="feeding_type" class="form-label">Type</label>
                            <select class="form-select" class="form-control" id="feeding_type" name="feeding_type" required>
                                {% for feeding_type in feeding_types %}
                            <option value="{{ feeding_type.id }}" {%if feeding_type.id|int == animal.default_ft|int %}selected{% endif %}>{{ feeding_type.name }}</option>
                        {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="feeding_count" class="form-label">Count</label>
                            <input type="number" class="form-control" id="feeding_count" name="feeding_count" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="feeding_unit" class="form-label">Unit</label>
                            <input type="number" class="form-control" id="feeding_unit" name="feeding_unit">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-end">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

<script>
    $('#feeding_date').val(new Date().toISOString().slice(0, 10));

    $(document).ready(function(){
        var ft = $('#feeding_type').val();
        $.ajax({
            url: '/feeding/get_units/'+ft,
            type: 'get',
            success: function(data){
                $('.unit').html(data);
            }
        })
    });

    $('#feeding_type').change(function(){
        var ft = $(this).val();
        $.ajax({
            url: '/feeding/get_units/'+ft,
            type: 'get',
            success: function(data){
                $('.unit').html(data);
            }
        })
    });
</script>
{% endblock %}