<div class="modal-header">
    <h5 class="modal-title" id="itemLabel">Add document to {% if animal %}{{animal.name}}{%else%}{{terrarium.name}}{%endif%}</h5>
</div>
{% if animal %}{%set target='animal'%}{%else%}{$ set target='terrarium'%}{%endif%}
<form action="{{ url_for('document.add', target=target, id=id) }}" method="post" enctype="multipart/form-data">
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="file_name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="file_name" name="file_name" required>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="file" class="form-label">File</label>
                    <input type="file" accept="file/*" class="form-control" id="file" name="file">
                </div>
            </div>
        </div>   
        <div class="row">
            <div class="col">
                You can only upload pdf and image-files!
            </div>
        </div> 
    </div>
    <div class="modal-footer text-end">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>