{% set ns = namespace(error=false) %} 
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Include Bootstrap JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- MomentJS -->
    <script src="{{ url_for('static', filename='js/moment-with-locales.js') }}"></script>

    <!-- mobile render fix -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Add something if needed -->
    {% block head %}{% endblock %}
</head>
<body class="d-flex flex-column h-100">
    <nav class="navbar fixed-top navbar-expand-lg bg-light no-print ">
        <div class="container">
            <a class="navbar-brand" href="/">Personal Zoo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {% if location == 'home' %}active{% endif %}" href="/"><i class="bi bi-house-heart-fill"></i> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if location == 'multi_feeding' %}active{% endif %}" href="/feeding/multi"><i class="bi bi-egg-fill"></i> Multi Feeding</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if location == 'multi_event' %}active{% endif %}" href="/history/multi"><i class="bi bi-calendar-event-fill"></i> Multi Event</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if location == 'add' %}active{% endif %}" href="/animal/add"><i class="bi bi-plus-circle-fill"></i> Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if location == 'print' %}active{% endif %}" href="/print"><i class="bi bi-egg-fill"></i> Print</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if location == 'settings' %}active{% endif %}" href="/settings"><i class="bi bi-gear-fill"></i> Settings</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- spacer for nav -->
    <div class="no-print" style="margin-top: 50px;"></div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="container mt-4 fade show" id="flash-message">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{ message | linebreaksbr | safe }}
                </div>
                {% if category == "danger" %}
                    {% set ns.error = true %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- spacer for nav -->
    <div class="no-print" style="margin-top: 50px;"></div>

    <footer class="footer mt-auto bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © {{ momentjs().format('YYYY') }} Copyright:
            <a class="text-dark" target="_blank" href="https://brazier85.de/">Brazier85</a>
        </div>
        <!-- Copyright -->
    </footer>

    {% if not ns.error %}
        <script>
            // Add fade-out animation to flash message
            var flashMessage = document.getElementById('flash-message');
            if (flashMessage) {
                setTimeout(function() {
                    flashMessage.addEventListener('animationend', function() {
                        flashMessage.remove();
                    });
                    flashMessage.classList.add('fade-out');
                }, 5000); // Fade out after 5 seconds
            }
        </script>
    {% endif %}
</body>
</html>
