<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- Include Bootstrap JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery-3.7.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <!-- mobile render fix -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- MomentJS -->
    {{ moment.include_moment() }}

    <style>
        @media print {
            body {
                -webkit-print-color-adjust: exact;
                background-color: #fff !important;
            }
            div {
                break-inside: auto;
            }
            .no-print, .no-print * {
                display: none !important;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
