{% extends 'base.html' %}

{% block title %}Personal Zoo{% endblock %}

{% block content %}
    <p>&nbsp;</p>
    <h2>Hey, something went wrong :(</h2>
    <p>&nbsp;</p>
    <h4><a href="/">click here to go back</a></h4>
    <p>&nbsp;</p>
    <h3>The error you found is:</h3>
    <p class="ps-5">{{ e }}</p>
    <p><strong>Traceback:</strong></p>
    <pre>
        <code>
            {{ traceback }}
        </code>
    </pre>
    <h3 class="text-danger">If you see this message after you did update the application visit the <a href="/update">update page!</a></h3>
{% endblock %}