{% extends 'base.html' %}

{% block title %}Personal Zoo{% endblock %}

{% block head %}
<!-- Fancy Dropdown -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
<!-- Datatables -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
{% endblock %}

{% set list=True %}

{% block content %}
    {% if list %}
    <div class="row row-cols-1 row-cols-lg-2 mt-4">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="mainTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="animal-tab" data-bs-toggle="tab" data-bs-target="#animal" type="button" role="tab" aria-controls="animal" aria-selected="true">Your Animals</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="terrarium-tab" data-bs-toggle="tab" data-bs-target="#terrarium" type="button" role="tab" aria-controls="terrarium" aria-selected="false">Your Terrariums</button>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="mainTabContent">
                        <div class="tab-pane fade show active" id="animal" role="tabpanel" aria-labelledby="animal-tab">
                            {% if animals %}
                                <table id="animals" class="table table-striped dt-responsive"  style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for animal in animals %}
                                        <tr data-id="{{ animal.id }}" class="active_row show_animal no-select">
                                            <td>
                                                <div class="d-flex align-items-center align-middle">
                                                    <div class="img-container animal-image-small">
                                                        <img src="{{ url_for('uploaded_file', folder='animals', filename=animal.image) }}" alt="Image for {{ animal.name }}" style="border-color: {{ animal.background_color }} !important;">
                                                    </div>
                                                    <div class="ps-3 flex-shrink-1">
                                                        <div class="pb-1 fw-bold {% if animal.gender == 'female' %}female{% elif animal.gender == 'male' %}male{% else %}ambiguous{% endif %}">
                                                            {{ animal.name }}
                                                        </div>
                                                        <p class="m-0 text-muted fw-normal">{{ animal.morph }}</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="align-middle"><div class="flex-shrink-1 text-break fw-normal">{{ animal.art }}</div></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="text-center">
                                    <h5 class="card-title">No animals found!</h5>
                                    <p>You can add your first animal here:</p>
                                    <a href="{{ url_for('animal.add')}}" class="btn btn-primary">Add animal</a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="terrarium" role="tabpanel" aria-labelledby="terrarium-tab">
                            {% if terrariums %}
                                <table id="terrariums" class="table table-striped dt-responsive"  style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Size</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for terrarium in terrariums %}
                                        <tr data-id="{{ terrarium.id }}" class="active_row show_terrarium no-select">
                                            <td>
                                                <div class="img-container terrarium-image-small">
                                                    <img class="rounded" src="{{ url_for('uploaded_file', folder='terrariums', filename=terrarium.image) }}" alt="Image for {{ terrarium.name }}">
                                                </div>
                                            </td>
                                            <td class="align-middle">{{ terrarium.name }}</td>
                                            <td class="align-middle">{{ terrarium.size }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="text-center">
                                    <h5 class="card-title">No terrariums found!</h5>
                                    <p>You can add your first terrarium here:</p>
                                    <a href="{{ url_for('terrarium.add')}}" class="btn btn-primary">Add terrarium</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col d-none d-lg-block">
            <div class="card">
                <div class="card-header">
                    <div class="flex-grow"> Add multi feeding </div>
                </div>
                <form action="{{ url_for('feeding.multi_add') }}" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="feeding_animals" class="form-label">Animals</label>
                                    <select class="selectpicker form-control" multiple id="animals" name="animals"  data-live-search="true" required>       
                                        {% for animal in data %}
                                            <option value="{{ animal.id }}">{{ animal.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="feeding_date" class="form-label">Date</label>
                                    <input type="date" class="form-control" id="feeding_date" name="feeding_date" required>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3">
                                    <label for="feeding_type" class="form-label">Type</label>
                                    <select class="form-select" class="form-control" id="feeding_type" name="feeding_type" required>
                                        {% for feeding_type in feeding_types %}
                                            <option value="{{ feeding_type.id }}">{{ feeding_type.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3">
                                    <label for="feeding_count" class="form-label">Count</label>
                                    <input type="number" class="form-control" id="feeding_count" name="feeding_count" required>
                                </div>
                            </div>
                            <div class="col unit">
                                <div class="mb-3">
                                    <label for="feeding_unit" class="form-label">Unit</label>
                                    <input type="number" class="form-control" id="feeding_unit" name="feeding_unit">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-end">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row row-cols-lg-3 row-cols-1 g-4">
        {% for row in data %}
        <div class="col">
            <div class="card card-animal">
                <a href="{{ url_for('animal.animal', id=animal.id) }}" class="card-link">
                <div class="container">
                    <div class="row row-cols-3 align-items-center">
                        <div class="col col-1"></div>
                        <div class="card-animal-image col-5 mx-auto">
                            <img src="{{ url_for('uploaded_file', filename=animal.image) }}" style="border-color: {{ animal.background_color }} !important;">
                        </div>
                        <div class="col col-1"></div>
                    </div>
                </div>
                <div class="card-body card-body-clickable" style="min-height: 116.9px !important;">
                    <h5 class="card-title text-center">{{ animal.name }}</h5>
                    <p class="card-text">{{ row[6] }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated: {{ row[10] | fix_date }}</small>
                </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if list %}
    <script type="text/javascript">
        $(document).on("click",".show_animal",function(){
            var animal_id = $(this).data('id');
            window.location.assign("/animal/"+animal_id); 
        });

        $('#animals').dataTable({
            "responsive": true,
            "paging": false,
            "order": [[0, 'asc']],
            "stateSave": true
        });

        $(document).on("click",".show_terrarium",function(){
            var terrarium_id = $(this).data('id');
            window.location.assign("/terrarium/"+terrarium_id); 
        });

        $('#terrariums').dataTable({
            "responsive": true,
            "paging": false,
            "order": [[0, 'asc']],
            "stateSave": true
        });
    </script>
    {% endif %}

    <script>
        $('#feeding_date').val(new Date().toISOString().slice(0, 10));
    
        $(document).ready(function(){
            var ft = $('#feeding_type').val();
            $.ajax({
                url: '/feeding/get_units/'+ft,
                type: 'get',
                success: function(data){
                    $('.unit').html(data);
                }
            })
        });
    
        $('#feeding_type').change(function(){
            var ft = $(this).val();
            $.ajax({
                url: '/feeding/get_units/'+ft,
                type: 'get',
                success: function(data){
                    $('.unit').html(data);
                }
            })
        });
    </script>

<!-- Home Tabs controller-->
<script src="{{ url_for('static', filename='js/pages/homeTabs.js') }}"></script>
{% endblock %}