{% extends 'base.html' %}

{% block title %}Personal Zoo{% endblock %}

{% block head %}
<!-- Fancy Dropdown -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
<script src="{{ url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
<!-- Datatables -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/datatables.min.css') }}">
<script src="{{ url_for('static', filename='js/datatables.min.js') }}"></script>
{% endblock %}

{% set list=True %}

{% block content %}
    {% if data %}
        {% set dlengh = data|length %}
        {% set breaker = (dlengh / 2) | round | int %}
        {% if list %}
        <div class="row row-cols-1 row-cols-lg-2 mt-4">
            <div class="col">
                <div class="card" style="background-color: white;">
                    <div class="card-header">
                        <div class="flex-grow"> Your Animals </div>
                    </div>
                    <div class="card-body">
                        <table id="animals" class="table table-striped m-0" >
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 5%;">#ID</th>
                                    <th style="width: 15%; min-width: 150px;">Name</th>
                                    <th width="15%">Type</th>
                                    <th class="text-center" style="width: 5%;">Gender</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in data %}
                                <tr data-id="{{ row[0] }}" class="active_row show_animal no-select">
                                    <th scope="row" class="text-center align-middle">{{ row[0] }}</th>
                                    <td>
                                        <div class="d-flex align-items-centerv align-middle">
                                            <div class="img-container animal-image-small">
                                                <img src="{{ url_for('uploaded_file', filename=row[7]) }}" alt="" style="border-color: {{ row[8] }} !important;">
                                            </div>
                                            <div class="ps-3">
                                                <div class="pb-1 fw-bold">{{ row[1] }}</div>
                                                <p class="m-0 text-muted">{{ row[3] }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="align-middle">{{ row[2] }}</td>
                                    <td class="align-middle text-center">
                                        <span class="gender text-center align-middle">
                                            <i class="bi {% if row[4] == 'female' %} bi-gender-female female {% else %} bi-gender-male male {% endif %} d-none d-sm-inline-block" style="display: inline-block!important;"></i>
                                        </span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col d-none d-lg-block">
                <div class="card" style="background-color: white;">
                    <div class="card-header">
                        <div class="flex-grow"> Add multi feeding </div>
                    </div>
                    <form action="{{ url_for('feeding.multi_add') }}" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="feeding_animals" class="form-label">Animals</label>
                                        <select class="selectpicker form-control" multiple id="animals" name="animals"  data-live-search="true" required>       
                                            {% for animal in data %}
                                                <option value="{{ animal[0] }}">{{ animal[1] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="feeding_date" class="form-label">Date</label>
                                        <input type="date" class="form-control" id="feeding_date" name="feeding_date" required>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="feeding_type" class="form-label">Type</label>
                                        <select class="form-select" class="form-control" id="feeding_type" name="feeding_type" required>
                                            {% for feeding_type in feeding_types %}
                                                <option value="{{ feeding_type[0] }}">{{ feeding_type[1] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="feeding_count" class="form-label">Count</label>
                                        <input type="number" class="form-control" id="feeding_count" name="feeding_count" required>
                                    </div>
                                </div>
                                <div class="col unit">
                                    <div class="mb-3">
                                        <label for="feeding_unit" class="form-label">Unit</label>
                                        <input type="number" class="form-control" id="feeding_unit" name="feeding_unit">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-end">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row row-cols-lg-3 row-cols-1 g-4">
            {% for row in data %}
            <div class="col">
                <div class="card card-animal">
                    <a href="{{ url_for('animal.animal', id=row[0]) }}" class="card-link">
                    <div class="container">
                        <div class="row row-cols-3 align-items-center">
                            <div class="col col-1"></div>
                            <div class="card-animal-image col-5 mx-auto">
                                <img src="{{ url_for('uploaded_file', filename=row[7]) }}" style="border-color: {{ row[8] }} !important;">
                            </div>
                            <div class="col col-1"></div>
                        </div>
                    </div>
                    <div class="card-body card-body-clickable" style="min-height: 116.9px !important;">
                        <h5 class="card-title text-center">{{ row[1] }}</h5>
                        <p class="card-text">{{ row[6] }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated: {{ row[10] | fix_date }}</small>
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% else %}
        <div class="card text-center mb-3 mt-4">
            <div class="card-body">
                <h5 class="card-title">No animals found!</h5>
                <p>You can add your first animal here:</p>
                <a href="{{ url_for('animal.add')}}" class="btn btn-primary">Add animal</a>
            </div>
        </div>
    {% endif %}

    {% if list %}
    <script type="text/javascript">
        $(document).on("click",".show_animal",function(){
            var animal_id = $(this).data('id');
            window.location.assign("/animal/"+animal_id); 
        });
    </script>
    {% endif %}

    <script>
        $('#feeding_date').val(new Date().toISOString().slice(0, 10));

        $('#animals').dataTable({
            "paging": false,
            order: [[1, 'desc']],
            stateSave: true
        });
    
        $(document).ready(function(){
            var ft = $('#feeding_type').val();
            $.ajax({
                url: '/feeding/get_units/'+ft,
                type: 'get',
                success: function(data){
                    $('.unit').html(data);
                }
            })
        });
    
        $('#feeding_type').change(function(){
            var ft = $(this).val();
            $.ajax({
                url: '/feeding/get_units/'+ft,
                type: 'get',
                success: function(data){
                    $('.unit').html(data);
                }
            })
        });
    </script>
{% endblock %}