<nav class="navbar fixed-top navbar-expand-lg no-print">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/logo-no-background.svg') }}" alt="Logo" height="24" class="d-inline-block align-text-top nav-logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if location == 'home' %}active{% endif %}" href="/"><i class="bi bi-house-heart-fill"></i> Home</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if location == 'multi_feeding' %}active{% endif %}" href="/feeding/multi"><i class="bi bi-egg-fill"></i> Multi Feeding</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if location == 'multi_event' %}active{% endif %}" href="/history/multi"><i class="bi bi-calendar-event"></i> Multi Event</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-plus-circle"></i> Add
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item {% if location == 'animal_add' %}active{% endif %}" href="/animal/add"><i class="bi bi-plus-circle"></i> Add Animal</a></li>
                        <li><a class="dropdown-item {% if location == 'terrarium_add' %}active{% endif %}" href="/terrarium/add"><i class="bi bi-plus-circle"></i> Add Terrarium</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if location == 'print' %}active{% endif %}" href="/print"><i class="bi bi-printer-fill"></i> Print</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if location == 'settings' %}active{% endif %}" href="/settings"><i class="bi bi-gear-fill"></i> Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('accounts.logout') }}"><i class="bi bi-box-arrow-in-left"></i> Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link {% if location == 'login' %}active{% endif %}" href="{{ url_for('accounts.login') }}"><i class="bi bi-box-arrow-in-right"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if location == 'register' %}active{% endif %}" href="{{ url_for('accounts.register') }}"><i class="bi bi-pencil-square"></i> Register</a>
                </li>
                {% endif %} 
            </ul>            

            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                <li class="nav-item dropdown">
                  <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (dark)">
                    <i class="theme-icon-active bi bi-moon-stars-fill"><use href="bi-moon-stars-fill"></use></i>
                    <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                    <li>
                      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                        <i class="bi bi-sun-fill"><use href="bi-sun-fill"></use></i>
                        Light
                        <i class="bi bi-check2 ms-auto d-none"></i>
                      </button>
                    </li>
                    <li>
                      <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark" aria-pressed="true">
                        <i class="bi bi-moon-stars-fill"><use href="bi-moon-stars-fill"></use></i>
                        Dark
                        <i class="bi bi-check2 ms-auto d-none"></i>
                      </button>
                    </li>
                    <li>
                      <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                        <i class="bi bi-circle-half"><use href="bi-circle-half"></use></i>
                        Auto
                        <i class="bi bi-check2 ms-auto d-none"></i>
                      </button>
                    </li>
                  </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>