{% from "macros/nav.html" import render_nav_item %}

<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg no-print">
    <!-- Container wrapper -->
    <div class="container">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/logo-no-background.svg') }}" alt="Logo" height="24" class="d-inline-block align-text-top nav-logo"></a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse d-lg-flex" id="navbarNav">
            <ul class="navbar-nav justify-content-lg-center">

                <!-- Home -->
                {{ render_nav_item("Home", "bi-house-heart-fill", "/", "home", location) }}

                {% if current_user.is_authenticated %}

                <!-- Multi Feeding -->
                {{ render_nav_item("Multi Feeding", "bi-egg-fill", "/feeding/multi", "multi_feeding", location) }}

                <!-- Multi Event -->
                {{ render_nav_item("Multi Event", "bi-calendar-event", "/history/multi", "multi_event", location) }}

                <!-- Add dropdown -->
                <li class="nav-item dropdown text-center mx-2 mx-lg-1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div>
                            <i class="bi bi-plus-circle"></i>
                        </div>
                        Add
                    </a>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item {% if location == 'animal_add' %}active{% endif %}" href="/animal/add">Add Animal</a></li>
                        <li><a class="dropdown-item {% if location == 'terrarium_add' %}active{% endif %}" href="/terrarium/add">Add Terrarium</a></li>
                    </ul>
                </li>

                <!-- Print -->
                {{ render_nav_item("Print", "bi-printer-fill", "/print", "print", location) }}

                <!-- Settings -->
                {{ render_nav_item("Settings", "bi-gear-fill", "/settings", "settings", location) }}

                <li class="nav-item dropdown text-center mx-2 mx-lg-1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div>
                            <i class="bi bi-person"></i>
                        </div>
                        Account
                    </a>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
                        {% if current_user.is_admin %}
                        <li><a class="dropdown-item {% if location == 'account' %}active{% endif %}" href="{{ url_for('accounts.admin') }}">Admin settings</a></li>
                        {% endif %}
                        <li><a class="dropdown-item {% if location == 'profile' %}active{% endif %}" href="/account">Your Profile</a></li>
                        <li><a class="dropdown-item {% if location == 'logout' %}active{% endif %}" href="{{ url_for('accounts.logout') }}">Logout</a></li>
                    </ul>
                </li>
                {% else %}

                <li class="nav-item dropdown text-center mx-2 mx-lg-1">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <div>
                            <i class="bi bi-person"></i>
                        </div>
                        Account
                    </a>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownAccount">
                        <li><a class="dropdown-item {% if location == 'login' %}active{% endif %}" href="{{ url_for('accounts.login') }}">Login</a></li>
                        <li><a class="dropdown-item {% if location == 'register' %}active{% endif %}" href="{{ url_for('accounts.register') }}">Register</a></li>
                    </ul>
                </li>
                {% endif %} 
            </ul>            

            <!-- Icons -->
            <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
                <li class="nav-item dropdown">
                    <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (dark)">
                        <i class="theme-icon-active bi bi-moon-stars-fill"><use href="bi-moon-stars-fill"></use></i>
                        <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
                    </button>
                    <!-- Theme Dropdown -->
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text">
                        <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
                            <i class="bi bi-sun-fill"><use href="bi-sun-fill"></use></i>
                            Light
                            <i class="bi bi-check2 ms-auto d-none"></i>
                        </button>
                        </li>
                        <li>
                        <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="dark" aria-pressed="true">
                            <i class="bi bi-moon-stars-fill"><use href="bi-moon-stars-fill"></use></i>
                            Dark
                            <i class="bi bi-check2 ms-auto d-none"></i>
                        </button>
                        </li>
                        <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                            <i class="bi bi-circle-half"><use href="bi-circle-half"></use></i>
                            Auto
                            <i class="bi bi-check2 ms-auto d-none"></i>
                        </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->