{% extends 'base.html' %}

{% block title %}Personal Zoo{% endblock %}

{% block content %}
    <p>&nbsp;</p>
    <h3 class="no-print">Notes:</h3>  
    <p class="no-print">To print your animal cards please use the print function of your browser. The not needed elements like this one will be hidden.</p>
    <h4 class="no-print" style="color: red;"> THIS SITE WILL NOT WORK ON MOBILE DEVICES!</h4>
    {% for animal in animals %}
    <div class="print_card">
        <div class="user-card" style="background-color: {{ animal.background_color }} !important;">
            {% if animal.image %}
            <img src="{{ url_for('uploaded_file', filename=animal.image) }}" alt="Uploaded Image">
            {% endif %}
        </div>
        <div class="general">
            <h1>{{ animal.name }}</h1>
            <table>
                <tr>
                <td class="tbl_title">Art</td>
                <td>{{ animal.art }}</td>
                </tr>
                <tr>
                <td class="tbl_title">Morph</td>
                <td>{{ animal.morph }}</td>
                </tr>
                <tr>
                <td class="tbl_title">Geschlecht</td>
                <td>{{ animal.gender }}</td>
                </tr>
                <tr>
                <td class="tbl_title">Schlupfdatum</td>
                <td>{{ animal.birth }}</td>
                </tr>
            </table>
            <p>{{ animal.note }}</p>
            <span class="more">Stand:  {{ animal.updated_date | fix_date }}</span>
        </div>
        <div>
            {% set feed_url = feed_url ~ animal.id ~ '?external'%}
            <img class="d-block ms-auto me-0" src="{{ qrcode(feed_url, box_size=3) }}">
        </div>
    </div>
    {% endfor %}
{% endblock %}