<div class="modal-header">
    <h5 class="modal-title" id="itemLabel">Edit event/action</h5>
</div>
<form action="{{ url_for('history.edit', id=data[0]) }}" method="post" enctype="multipart/form-data">
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-4">
                <div class="mb-3">
                    <label for="history_date" class="form-label">Date</label>
                    <input type="date" class="form-control" id="history_date" name="history_date" value="{{ data[4] }}" required>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="history_event" class="form-label">Event/Action</label>
                    <select class="form-select" class="form-control" id="history_event" name="history_event" required>
                        <option value="Häutung"{% if data[2] == 'Häutung' %}selected{% endif %}>Häutung</option>
                        <option value="Gewogen"{% if data[2] == 'Gewogen' %}selected{% endif %}>Gewogen</option>
                        <option value="Sonstiges"{% if data[2] == 'Sonstiges' %}selected{% endif %}>Sonstiges</option>
                        <option value="Tierarzt"{% if data[2] == 'Tierarzt' %}selected{% endif %}>Tierarzt</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="history_text" class="form-label">Text</label>
                    <textarea class="form-control" id="history_text" name="history_text" rows="3" required>{{ data[3] }}</textarea>
                </div>
            </div>
        </div>
    
    </div>
    <input type="hidden" id="animal_id" name="animal_id" value="{{ data[1] }}" />
    <div class="modal-footer">
        <div pos="start">
            <button type="button" data-id="{{ data[0] }}" class="btn btn-danger text-left history_delete_button">Delete</button>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>