name: Publish Docs

on:
  push:
    branches: [ "main" ]
    paths: ['docs/**']
  pull_request:
    branches: [ "main" ]
    paths: ['docs/**']
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install mkdocs-material 
      - name: Build
        run: mkdocs build
      - name: Deploy
        uses: andreiio/rclone-action@v1
        env:
          RCLONE_CONFIG_ALLINKL_TYPE: ftp
          RCLONE_CONFIG_ALLINKL_HOST: ${{ secrets.RCLONE_CONF_SERVER }}
          RCLONE_CONFIG_ALLINKL_USER: ${{ secrets.RCLONE_CONF_USER }}
          RCLONE_CONFIG_ALLINKL_PASS: ${{ secrets.RCLONE_CONF_PASSWORD }}
          RCLONE_FTP_CONCURRENCY: 10
          RCLONE_TRANSFERS: 5
          RCLONE_CHECKERS: 5
        with:
          args: sync site ALLINKL:/